[project]
	description = sp0rkle is dead, long live sp0rkle
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/John R Barker (bob-smith)
[access "refs/for/refs/*"]
	read = group user/John R Barker (bob-smith)
	push = group user/John R Barker (bob-smith)
	label-Code-Review = -2..+2 group user/John R Barker (bob-smith)
	label-Verified = -1..+1 group user/John R Barker (bob-smith)
	rebase = group user/John R Barker (bob-smith)
	removeReviewer = group user/John R Barker (bob-smith)
	submit = group user/John R Barker (bob-smith)
[access "refs/heads/*"]
	read = group user/John R Barker (bob-smith)
	create = group user/John R Barker (bob-smith)
	push = +force group user/John R Barker (bob-smith)
	pushMerge = group user/John R Barker (bob-smith)
[access "refs/tags/*"]
	push = +force group user/John R Barker (bob-smith)
	pushTag = group user/John R Barker (bob-smith)
	pushSignedTag = group user/John R Barker (bob-smith)
